_ark/songs/*
_build/xbox/gen/*.ark
_build/xbox/gen/*.hdr
_build/ps3/USRDIR/gen/*.hdr
_build/ps3/USRDIR/gen/*.ark
_build_rpcs3.bat
_build/ps3/USRDIR/band_s.elf
_xenia/cache/*
_xenia/xenia.log
_build_xbox - Copy.bat
_xenia/content/45410914
_xenia/content/45410869
_xenia/content/45410829
_xenia/recent.toml
_xenia/content/454108E7
_xenia/content/454108B1
_xenia/content/575207F0
_build/Xbox/gen/main_xbox
!_ark/songs/songs.dta
!_ark/songs/songs_customs.dta
!_ark/songs/songs_dlc.dta
!_ark/songs/songs_dlc_updates.dta
!_ark/songs/songs_rb1_export.dta
!_ark/songs/dlc